* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
  background-image: linear-gradient(0deg, rgb(255, 158, 213), rgb(62,201,254));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}  

.center {
 
  position: absolute;
  top: 10%;
  left: 5%; 
}

.container {
    width: 100%;
    max-width:500px;
    position:absolute;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-width: 20px;
    background-image: linear-gradient(0deg,  rgb(62,201,254), rgb(255, 123, 198));
    transform: translate(-50%);
    top: 45%;
    left: 50%;    
  }

#new-task {
    position: relative;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
  }

  #new-task input {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 3.5%;
    color: #111111;
    font-weight: 500;
    box-shadow: 5px 5px 5px 5px rgba(1, 24, 48, 0.15);
    border-radius: 20px;
    width: 78%;  
  }

  #new-task input:focus {
    outline: none;
    border-color: #0b87ff;
  }
  
  #new-task button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 100%;
    background-color: #fa95b6;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    padding: 3.5%; 
  }

  #new-task button:hover {
    background-color: #fa0053;
   color: white;
 }

 #tasks {
  background-color: #ffffff;
  position: relative;
  padding: 28.8px 20px;
  margin-top: 15%;
  width: 100%;
  border-radius: 10px;
  word-wrap: break-word;
}

.task {
  background-color: #ffffff;
  padding: 4.8px 9.6px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(1, 24, 48, 0.15);
}
  
.task span {
    font-family: "Poppins", sans-serif;
    font-size: 90%;
    font-weight: 400;
    margin-top: 20px; 
  }

  .task button {
    color: #ffffff;
    padding: 12.8px 0;
    width: 35px;
    border-radius: 20%;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .delete {
    background-color: #fd0d0d;
  }

  .edit {
    background-color: #003afa;
    margin-left: auto;
    margin-right: 50px;
  }

  .completed{
    text-decoration: line-through;
  }

  #added,#deleted,#updated{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 100px;
  }
  
  #added.show, #deleted.show , #updated.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
  }
   
  @keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
  } 
  

  